@import "tailwindcss";

.fumaca-verde {
  text-shadow: 
    0 0 5px #10b981,
    0 0 10px #10b981,
    0 0 15px #10b981,
    0 0 20px #10b981,
    0 0 25px #10b981,
    0 0 30px #10b981,
    0 0 35px #10b981;
}